<!DOCTYPE html>
<% provide(:title, "About") %>

<h1>About</h1>
<p>
  The 
  <a href="http://www.railstutorial.org/" target=_blank >
    <em>
    Ruby on Rails Tutorial
    </em>
  </a> 
  is a
  <a href="http://www.railstutorial.org/book" target=_blank>book</a>
  and a 
  <a href="https://www.railstutorial.org/#html_ebooks_and_screencast_videos" target=_blank>
  screencast series
  </a> 
  to teach web development using   
  <a href="http://rubyonrails.org/" target=_blank>Rails</a>. 
</p>

<p>
  This is a sample application following that tutorial, 
  written by your humble servant 
  <a href="https://ve.linkedin.com/in/miguel-salas-03663010b" target=_blank>Miguel Salas</a>.
</p>    



