<% provide(:title, "Contact") %>

<h1>Contact</h1>

<p>
  You can contact the author of the Ruby on Rails tutorial by 
  <a href="mailto:admin@railstutorial.org">email</a>. 

</br>
You can contact Miguel Salas at 
<a href="https://ve.linkedin.com/in/miguel-salas-03663010b">linkedin</a>
or you can write him a <a href="mailto:miguelsalas.git@gmail.com">email</a>.
</p>
