<div class="center jumbotron">
  <h1>Welcome to this Sample Application. Belive it or not, this is for you.</h1>
  <h2>
    This a has been made following the <a href="http://www.railstutorial.org/">
      Ruby on Rails Tutorial</a> , by Michael Hartl.
  </h2>
  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg, btn-primary"%>
</div>

<%= link_to image_tag("rails.jpg", alt:"Rails logo"), 
                        'http://rubyonrails.org'%>


