<% if @user.errors.any? %>
  <div id="errors_explanation">
    <div class="alert alert-danger">
      The form contains <%= pluralize(@user.errors.count, "error") %>.
    </div>
    <ul id="error-msgs">
    <% @user.errors.full_messages.each do |msg| %>
      <li> <%= msg %> </li>
    <%  end %>
    </ul>
  </div>
<% end %>